*{
    font-family: verdana;
    margin: 0;
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
#blocks{
    display:flex;
    margin:10px;
    justify-content:space-between;
}
#blocks div{
    flex:0 0 100px;
    padding:40px 0px;
    text-align: center;
    background:#ccc;
}
.box-one{order:2;}
.box-two{order:0;}
.box-three{order:1;}